{% extends 'jobs/base.html' %}
{% block title %}登录{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card mt-5">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">登录</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        {{ form.password }}
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger py-2">
                            您的用户名和密码不匹配，请重试。
                        </div>
                    {% endif %}
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">登录</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small"><a href="{% url 'register' %}">还没有账户？ 注册</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
